<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
</head>
<body>
    <h2>Profile Editor</h2>
    <form action="/editProfile" method="POST">
        <div class="username">
            <label for="username">Username</label>
            <input type="username" name="username" id="username" placeholder="Enter Username" value="">
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <div class="name">
            <label for="name">Name</label>
            <input type="name" name="name" id="name" placeholder="Enter Name">
        </div>
        <div class="dob">
            <label for="dob">Birthday</label>
            <input type="dob" name="dob" id="dob" placeholder="Enter Birthday">
        </div>
        <div class="aboutMe">
            <label for="aboutMe">About Me</label>
            <input type="aboutMe" name="aboutMe" id="aboutMe" placeholder="About Me">
        </div>
        <button type="submit" class="submit button">
            Submit
        </button>
    </form>
    <a href="/">Back To Sign In</a>
</body>
</html>