<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossroads Social</title>
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <link rel="stylesheet" href="_frontend/style.css">
</head>
<body>
    <header>
        <div class="">
            <h1>Welcome!</h1>
        </div>
    </header>
    <main>
        <div class="login">
            <label for="username">Username</label>
            <input type="username" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <button type="submit" class="button submit">Submit</button>
        <a href="/editProfile">Create An Account!</a>
    </main>
</body>
</html>