<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossroads Social</title>
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
</head>
<body>
    <main>
        <h1>Welcome!</h1>
        <div class="button">
            <button class="createProfile">
                Sign Up!
            </button>
            <button class="login">
                Login
            </button>
        </div>
    </main>
</body>
</html>